@font-face {
    font-family: 'LSeedJP';
    src: url(https://xullua.com/font/LSeedJPRg.woff) format('woff');
    font-weight: 500, normal;
    font-style: normal;
}

@font-face {
    font-family: 'LSeedJP';
    src: url(https://xullua.com/font/LSeedJPBd.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

html,
body {
    background: #000;
    font-family: "LSeedJP", sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

main {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

#calculator {
    width: 720px;
    max-width: 90%;
    margin: 50px auto 90px auto;
    text-align: center;
    background: black;
    font-size: 30px;
    color: white;
    cursor: default;
}

.result {
    margin: 0 auto;
    padding: 0 0 10px 0;
    width: calc((130px + 5px*2)*4);
    transition: .5s;
}

#answer {
    text-align: right;
    margin: 0 auto;
    background: black;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 100px;
    border: none;
    transition: .5s;
}

#answer::placeholder {
    color: white;
}


.design0 {
    cursor: pointer;
    border-radius: 100%;
    margin: 5px auto;
    padding: 10px;
    background: #a5a5a5;
    color: #000000;
    border: none;
    justify-content: space-between;
    width: 130px;
    height: 130px;
    font-size: 45px;
    outline: 0;
    transition-delay: 0s;
    transition: 0.5s;
}

.design0:active {
    background: #d9d9d9;
    transition: 0s;
}

.design {
    cursor: pointer;
    border-radius: 100%;
    margin: 5px auto;
    background: #343434;
    border: none;
    color: white;
    justify-content: space-between;
    width: 130px;
    height: 130px;
    font-size: 45px;
    outline: 0;
    transition: .5s;
}

.design:active {
    background: #737373;
    transition: 0s;
}

.enzan,
#equal {
    cursor: pointer;
    background: #ff9100;
    border: none;
    border-radius: 100%;
    margin: 5px auto;
    color: white;
    justify-content: space-between;
    width: 130px;
    height: 130px;
    font-size: 45px;
    outline: 0;
    transition: .5s;
}

.enzan:active {
    background: #f3c995;
    transition: 0s;
}

#equal:active {
    background: #f3c995;
    transition: 0s;
}

#zero {
    cursor: pointer;
    height: 130px;
    width: 270px;
    border-radius: 150px;
    text-align: left;
    padding-left: 52px;
}

@media screen and (max-width: 720px) , (max-height: 850px) {
    #answer {
        font-size: 90px;
    }

    .result {
        width: calc((120px + 5px*2)*4);
    }

    .design0,
    .design,
    .enzan,
    #equal {
        width: 120px;
        height: 120px;
        font-size: 40px;
    }

    #zero {
        width: 250px;
        height: 120px;
        font-size: 40px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 600px) , (max-height: 800px) {
    #answer {
        font-size: 78px;
    }

    .result {
        width: calc((100px + 5px*2)*4);
    }

    .design0,
    .design,
    .enzan,
    #equal {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

    #zero {
        width: 210px;
        height: 100px;
        font-size: 35px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 500px) , (max-height: 700px) {
    #answer {
        font-size: 65px;
    }

    .result {
        width: calc((80px + 5px*2)*4);
    }

    .design0,
    .design,
    .enzan,
    #equal {
        width: 80px;
        height: 80px;
        font-size: 30px;
    }

    #zero {
        width: 170px;
        height: 80px;
        font-size: 30px;
        padding-left: 33px;
    }
}

@media screen and (max-width: 400px) , (max-height: 600px) {
    #answer {
        font-size: 50px;
    }

    .result {
        width: calc((60px + 5px*2)*4);
    }

    .design0,
    .design,
    .enzan,
    #equal {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    #zero {
        width: 130px;
        height: 60px;
        font-size: 25px;
    }
}

@media screen and (max-width: 300px) {
    #answer {
        font-size: 40px;
    }

    .result {
        width: calc((((100% - 10px*4)/4) + 5px*2)*4);
    }

    .design0,
    .design,
    .enzan,
    #equal {
        width: calc((100% - 10px*4)/4);
        font-size: 20px;
    }

    #zero {
        width: calc(100%/2 - 10px);
        height: auto;
        aspect-ratio: 9 / 4;
        padding-left: 10%;
        font-size: 20px;
    }
}

.about {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.about .openbtn {
    display: block;
    background: #7a7a7a7a;
    color: #ff9100;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .2s;
}

.about .openbtn:hover {
    background: #85858585;
}

.about .openbtn:active {
    background: #9c9c9c9c;
}

.about .aboutcontent,
.about input[name="onoff"] {
    display: block;
}

.about input:checked+.onoffbtn+.aboutcontent {
    display: none;
}

.content,
.about input[name="about"]{
    display: none;
}

.about input:checked+.openbtn+.content {
    display: grid;
    grid-template-rows: 1fr auto;
    position: fixed;
    z-index: 9999;
    top: 5vh;
    left: 5vw;
    width: calc(90vw - 40px);
    height: calc(90vh - 60px);
    background: #35353599;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 10px;
    text-align: center;
    padding: 30px 20px;
    overflow-y: auto;
    color-scheme: dark;
}

.about .text {
    max-width: 720px;
    margin: 0 auto;
}

.about h2 {
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
}

.about .content p {
    font-size: 13px;
    color: #c7c7c7;
}

.about h3 {
    color: #FFf;
    margin-top: 40px;
}

.about a {
    color: #9faadd;
    text-decoration: none;
}

.about a:hover {
    color: #7384cf;
}

.about .btns {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.about .closebtn,
.about .offbtn {
    display: block;
    color: #fff;
    border: 1px solid #FFF;
    padding: 10px 0;
    margin: 5px 0 0;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}

.about .closebtn:hover,
.about .offbtn:hover {
    background: #ffffff79;
}

@media screen and (max-width: 720px){
    .about h3 {
        margin-top: 15px;
    }
}